Repository bergmann-it/homepi-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/bootstrap, area/addons

.github/labeler.yaml:

---
area/github:
  - changed-files:
    - any-glob-to-any-file:
      - ".github/**/*"
area/kubernetes:
  - changed-files:
    - any-glob-to-any-file:
      - "cluster/**/*"
      - "bootstrap/templates/kubernetes/**/*"
      - "bootstrap/tasks/kubernetes/**/*"
area/bootstrap:
  - changed-files:
    - any-glob-to-any-file:
      - "bootstrap/**/*"
      - "bootstrap/configure.yaml"
area/addons:
  - changed-files:
    - any-glob-to-any-file:
      - "bootstrap/templates/addons/**/*"
      - "bootstrap/tasks/addons/**/*"
      - "bootstrap/vars/addons.sample.yaml"

update hass chart
  cluster/apps/default/hass/helm-release.yaml
  cluster/base/flux-system/charts/helm/kustomization.yaml
Labels: area/kubernetes

add startechnica-charst
  cluster/base/flux-system/charts/helm/startechnica-charts.yaml
Labels: area/kubernetes

update apiversion of helm
  cluster/crds/metallb-system/helm-release.yaml
Labels: area/kubernetes

update flux api level
  cluster/apps/default/akri/helm-release.yaml
  cluster/apps/default/hass/helm-release.yaml
  cluster/apps/default/mqtt/helm-release.yaml
  cluster/apps/default/raspberrymatic/helm-release.yaml
  cluster/apps/default/unifi/helm-release.yaml
  cluster/apps/default/zigbee2mqtt/helm-release.yaml
  cluster/core/cert-manager/base/helm-release.yaml
  cluster/core/cert-manager/inwx/helm-inwx.yaml
  cluster/core/local-path-storage/helm-release.yaml
  cluster/core/traefik/helm-release.yaml
Labels: area/kubernetes

update helm-charts
  cluster/apps/default/hass/helm-release.yaml
  cluster/apps/default/unifi/helm-release.yaml
  cluster/apps/default/zigbee2mqtt/helm-release.yaml
Labels: area/kubernetes

update hass and add speech-to-text
  cluster/apps/default/hass/helm-release.yaml
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/speech-to-phrase/helm-release.yaml
  cluster/apps/default/speech-to-phrase/kustomization.yaml
  cluster/apps/default/speech-to-phrase/speechtophrase-secret.enc.yaml
Labels: area/kubernetes

add main ingress
  cluster/apps/default/speech-to-phrase/helm-release.yaml
Labels: area/kubernetes

use ws
  cluster/apps/default/speech-to-phrase/helm-release.yaml
Labels: area/kubernetes

ingress not needed
  cluster/apps/default/speech-to-phrase/helm-release.yaml
Labels: area/kubernetes

set Timezone for home Assistant
  cluster/apps/default/hass/helm-release.yaml
Labels: area/kubernetes

update z2mqtt
  cluster/apps/default/zigbee2mqtt/helm-release.yaml
Labels: area/kubernetes

update hass helm chart
  cluster/apps/default/hass/helm-release.yaml
Labels: area/kubernetes

fix format for ENV
  cluster/apps/default/hass/helm-release.yaml
Labels: area/kubernetes

add homematic port
  cluster/apps/default/hass/helm-release.yaml
Labels: area/kubernetes

export node
  cluster/apps/default/hass/helm-release.yaml
Labels: area/kubernetes

typo
  cluster/apps/default/hass/helm-release.yaml
Labels: area/kubernetes

move nodeport to correct range
  cluster/apps/default/hass/helm-release.yaml
Labels: area/kubernetes

remove ingress
  cluster/apps/default/raspberrymatic/ingress.yaml
Labels: area/kubernetes

remove display
  cluster/apps/default/display/display-token.enc.yaml
  cluster/apps/default/display/display.yaml
  cluster/apps/default/display/kustomization.yaml
  cluster/apps/default/kustomization.yaml
Labels: area/kubernetes

remove custom helios
  cluster/apps/default/hass/helm-release.yaml
Labels: area/kubernetes

update home assistant
  cluster/apps/default/hass/helm-release.yaml
Labels: area/kubernetes

add zendure user
  cluster/apps/default/mqtt/helm-release.yaml
  cluster/apps/default/mqtt/passwordfile.enc.yaml
Labels: area/kubernetes

update
  README.adoc
Labels: none

rename raspberrymatic to openccu
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/openccu/helm-release.yaml
  cluster/apps/default/openccu/ingress.yaml
  cluster/apps/default/openccu/kustomization.yaml
  cluster/base/flux-system/charts/helm/RaspberryMatic-charts.yaml
Labels: area/kubernetes

update versions of HelmRepository
  cluster/base/flux-system/charts/helm/RaspberryMatic-charts.yaml
  cluster/base/flux-system/charts/helm/akri-charts.yaml
  cluster/base/flux-system/charts/helm/andrenarchy-charts.yaml
  cluster/base/flux-system/charts/helm/calinco-charts.yaml
  cluster/base/flux-system/charts/helm/cbergmann-charts.yaml
  cluster/base/flux-system/charts/helm/containeroo-charts.yaml
  cluster/base/flux-system/charts/helm/hass-charts.yaml
  cluster/base/flux-system/charts/helm/jetstack-charts.yaml
  cluster/base/flux-system/charts/helm/k8sonlab-charts.yaml
  cluster/base/flux-system/charts/helm/metallb-charts.yaml
  cluster/base/flux-system/charts/helm/startechnica-charts.yaml
  cluster/base/flux-system/charts/helm/traefik-charts.yaml
Labels: area/kubernetes

use pbkdf2 for mosquitto passwds
  cluster/apps/default/mqtt/passwordfile.enc.yaml
Labels: area/kubernetes

update mosquitto
  cluster/apps/default/mqtt/helm-release.yaml
Labels: area/kubernetes

use correct mosquitto_passwd
  cluster/apps/default/mqtt/passwordfile.enc.yaml
Labels: area/kubernetes

remove solarflow
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/solarflow/kustomization.yaml
  cluster/apps/default/solarflow/solarflow-config.yaml
  cluster/apps/default/solarflow/solarflow-secret.enc.yaml
  cluster/apps/default/solarflow/solarflow.yaml
Labels: area/kubernetes

move acl file to listener
  cluster/apps/default/mqtt/helm-release.yaml
Labels: area/kubernetes

remove solarflowcontrol
  cluster/apps/default/mqtt/helm-release.yaml
Labels: area/kubernetes

allow write to any by zendure
  cluster/apps/default/mqtt/helm-release.yaml
Labels: area/kubernetes

remove debug output for zendure
  cluster/apps/default/mqtt/helm-release.yaml
Labels: area/kubernetes

Update Home Assistant chart version to 0.3.67
  cluster/apps/default/hass/helm-release.yaml
Labels: area/kubernetes

Add Renovate configuration file with presets and rules
  .renovaterc.json5
Labels: none

Delete .github/renovate.json5
  .github/renovate.json5
Labels: area/github

Automerge everything
  .renovaterc.json5
Labels: none

add bleproxy
  cluster/apps/default/mqtt/helm-release.yaml
  cluster/apps/default/mqtt/passwordfile.enc.yaml
Labels: area/kubernetes

set password file
  cluster/apps/default/mqtt/passwordfile.enc.yaml
Labels: area/kubernetes

allow write to topics
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/mqtt/helm-release.yaml
Labels: area/kubernetes
