Repository bergmann-it/homepi-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/bootstrap, area/addons

add version for homatic
  .envrc
  .gitignore
  cluster/apps/default/raspberrymatic/helm-release.yaml
Labels: area/kubernetes

upgrade antora
  docs/antora.yml
Labels: none

remove dead link
  docs/modules/ROOT/pages/bootstrap.adoc
Labels: none

rename it to da
  docs/modules/ROOT/pages/hardware.adoc
  docs/modules/ROOT/pages/index.adoc
  docs/modules/ROOT/pages/namespaces/index.adoc
Labels: none

fix link for new structure in da
  docs/modules/ROOT/pages/hardware.adoc
  docs/modules/ROOT/pages/index.adoc
  docs/modules/ROOT/pages/namespaces/index.adoc
Labels: none

update unifi
  cluster/apps/default/unifi/helm-release.yaml
Labels: area/kubernetes

Update renovate.json5
  .github/renovate.json5
Labels: area/github

Delete .github/renovate directory
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

Delete .github/workflows/link-check.yaml
  .github/workflows/link-check.yaml
Labels: area/github

add solarflow
  cluster/apps/default/solarflow/kustomization.yaml
  cluster/apps/default/solarflow/solarflow-config.yaml
  cluster/apps/default/solarflow/solarflow-secret.enc.yaml
  cluster/apps/default/solarflow/solarflow.yaml
Labels: area/kubernetes

update cert manager crds
  cluster/core/flux-system/webhook/flux-ingress.yaml
  cluster/crds/cert-manager/kustomization.yaml
  cluster/crds/kustomization.yaml
Labels: area/kubernetes

update cert manager
  cluster/core/cert-manager/base/helm-release.yaml
Labels: area/kubernetes

remove webhook
  cluster/core/cert-manager/base/helm-release.yaml
Labels: area/kubernetes

correct secret yaml file name
  cluster/apps/default/solarflow/kustomization.yaml
Labels: area/kubernetes

encode secret as plain
  cluster/apps/default/solarflow/solarflow-secret.enc.yaml
Labels: area/kubernetes

save secret as string
  cluster/apps/default/solarflow/solarflow-secret.enc.yaml
Labels: area/kubernetes

encode pwd with base64
  cluster/apps/default/solarflow/solarflow-secret.enc.yaml
Labels: area/kubernetes

disable solarflow while development
  cluster/apps/default/kustomization.yaml
Labels: area/kubernetes

Update doku.yaml
  .github/workflows/doku.yaml
Labels: area/github

use own iwx charts
  cluster/base/flux-system/charts/helm/cbergmann-charts.yaml
  cluster/base/flux-system/charts/helm/kustomization.yaml
  cluster/core/cert-manager/inwx/helm-inwx.yaml
Labels: area/kubernetes

use new url for k8sonlab-charts
  cluster/apps/default/unifi/helm-release.yaml
  cluster/base/flux-system/charts/helm/k8sonlab-charts.yaml
Labels: area/kubernetes

migrate home assistant to k3s
  cluster/apps/default/hass/helm-release.yaml
  cluster/apps/default/hass/kustomization.yaml
  cluster/apps/default/legacy-proxy/legacy-proxy.yaml
  cluster/base/flux-system/charts/helm/hass-charts.yaml
  cluster/base/flux-system/charts/helm/kustomization.yaml
Labels: area/kubernetes

use dns issuer for flux ingress cert
  cluster/core/flux-system/webhook/flux-ingress.yaml
Labels: area/kubernetes

enable persistence for hass
  cluster/apps/default/hass/helm-release.yaml
Labels: area/kubernetes

change service port
  cluster/apps/default/hass/helm-release.yaml
Labels: area/kubernetes

use default port
  cluster/apps/default/hass/helm-release.yaml
Labels: area/kubernetes

reset to prefix pathType in hass ingress
  cluster/apps/default/hass/helm-release.yaml
Labels: area/kubernetes

add t3n charts
  cluster/base/flux-system/charts/helm/kustomization.yaml
Labels: area/kubernetes

add mqtt
  cluster/apps/default/mqtt/cert.yaml
  cluster/apps/default/mqtt/helm-release.yaml
  cluster/apps/default/mqtt/kustomization.yaml
  cluster/apps/default/mqtt/merossaclfile.enc.yaml
  cluster/apps/default/mqtt/passwordfile.enc.yaml
  cluster/base/flux-system/charts/helm/kustomization.yaml
Labels: area/kubernetes

reencode passwdfile
  cluster/apps/default/mqtt/merossaclfile.enc.yaml
  cluster/apps/default/mqtt/passwordfile.enc.yaml
Labels: area/kubernetes

use key file for tls key
  cluster/apps/default/mqtt/helm-release.yaml
Labels: area/kubernetes

only mount cert once
  cluster/apps/default/mqtt/helm-release.yaml
Labels: area/kubernetes

use nodePort service
  cluster/apps/default/mqtt/helm-release.yaml
Labels: area/kubernetes

revert service
  cluster/apps/default/mqtt/helm-release.yaml
  cluster/core/traefik/helm-release.yaml
  cluster/core/traefik/traefik-config.yaml
Labels: area/kubernetes

use ClusterIP Service
  cluster/apps/default/mqtt/helm-release.yaml
Labels: area/kubernetes

make loadbalancer
  cluster/apps/default/mqtt/helm-release.yaml
Labels: area/kubernetes

set ClusterIP service type
  cluster/apps/default/mqtt/helm-release.yaml
Labels: area/kubernetes

make externalTrafficPolicy local
  cluster/apps/default/mqtt/helm-release.yaml
Labels: area/kubernetes

Update helm-release.yaml
  cluster/apps/default/mqtt/helm-release.yaml
Labels: area/kubernetes

only use web entrypoints for display
  cluster/apps/default/display/display.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"
